body {
  background-color: #808080;
}

#boton1, #boton2, #boton3, #boton4{
    background-color: black;
    border: solid 2px;
    margin:  40px 0 0 30px;
    padding: 10px;
    width: 18px;
    z-index: 2;
}

#boton5{
    background-color: red;
    border: solid 2px;
    margin:  40px 0 0 30px;
    padding: 10px;
    width: 400px;
    z-index: 2;
    color:white;

}

